[submodule "bsp"]
	path = bsp
	url = https://github.com/radxa/allwinner-bsp
	branch = cubie-aiot-v1.4.8
[submodule "device-a527"]
	path = device-a527
	url = https://github.com/radxa/allwinner-device
	branch = device-a527
[submodule "src"]
	path = src
	url = https://github.com/radxa/kernel
	branch = allwinner-aiot-linux-6.6
