Source: linux-aw2607
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               flex,
               bison,
               bc,
               libncurses-dev,
               libssl-dev,
               cpio,
               kmod,
               libyaml-dev,
               rsync,
               zstd,

Package: linux-image-radxa-cubie-a5e
Architecture: all
Section: kernel
Priority: optional
Provides: linux-image
Depends: radxa-overlays-dkms,
         linux-image-${binary:Version}-aw2607,
         ${misc:Depends},
Description: Radxa Linux meta-package for Radxa cubie-a5e products
 This is the meta-package for Linux kernel.

Package: linux-headers-radxa-cubie-a5e
Architecture: all
Section: kernel
Priority: optional
Provides: linux-headers
Depends: linux-headers-${binary:Version}-aw2607,
         ${misc:Depends},
Description: Radxa Linux headers meta-package for Radxa cubie-a5e products
 This is the meta-package for Linux headers.

Package: linux-libc-dev-radxa-cubie-a5e
Architecture: all
Section: kernel
Priority: optional
Depends: linux-libc-dev (= ${binary:Version}),
         ${misc:Depends},
Description: Radxa Linux libc-dev meta-package for Radxa cubie-a5e products
 This is the meta-package for Linux libc-dev.
